#spartyfy-header {
    background-color:rgba(25,20,20,0.9  );
    padding: 20px;
    h1 {
        color: #1db954;
        font-weight: bold;

        .spartyfy-highlight {
            color: #f2f25c;
            font-family: 'Permanent Marker', cursive;
            padding-right: 3px;
        }
    }
}