#album{
    width: 150px;
    height: 150px;
    background-size: cover;
}
#albumbig{
    object-fit: cover;
    width: 100%
}

#player{
    background: rgba(25,20,20,0.3);
  }

h2{
    color: #f2f25c;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    text-align: center;
    font-size: 3rem
}
p{
    color: white;
    padding: 0px;
    margin:0;
    font-size: 1.5rem
    
}

#songplaying{
    font-size: 2rem;
    padding: 0px;
    color: white;
    margin:0;
}

.img-thumbnail{
    background-color: #f2f25c; 
}

hr{
    border-color: 1db954;
}

.card{
    border: none
}

button{
    margin:0;
}