.spartyfy-queue{
    background:  #191414;
    height: 100%;

   



    hr {
        border-top: 2px solid #1db954;
    }

    h3 {
        color: #f2f25c;
        text-shadow: 2px 2px 2px #a3a33f;
        font-family: 'Permanent Marker', cursive;
        padding: 10px 10px 0px 10px;
    }

    hr {
        border-top: 2px solid #1db954;
    }

    li {
        color: white;
        text-shadow: 2px 1px 1px #72716f;
        font-weight: bold; 
        text-align: left !important;
        font-size: 1.3rem
    }

}

.page__content h3{
    font-size: 25px;
}
