#content{
    text-align: left;
    
}
.jumbotron{
    padding-top: 1%;
    padding-bottom:1%;
    background: #4a4d4f;
}

#sessionName{
    color: #f2f25c;
    text-shadow: 2px 2px 2px #a3a33f;
    font-family: 'Permanent Marker', cursive;
    padding: 10px 10px 0px 10px;
}
#Person{
    color: #f2f25c;
    text-shadow: 2px 2px 2px #a3a33f;
    font-family: 'Permanent Marker', cursive;
    padding: 10px 10px 0px 10px;
}

body{
    color: white;

}