.spartyfy-search {
    .spartyfy-button {
        ons-button {
            background-color: #1db954;
            font-family: 'Permanent Marker', cursive;
            font-size: 15px;
        }
    }

    .spartyfy-searchbar {
        width: 100%;
        padding-right: 0px !important;
    }
}