.spartyfy-search-song {
    background-color: #191414;
    border: 2px solid grey;
    padding: 10px;

    .spartyfy-search-song-content {
        color: #1db954;
        font-weight: bold;
        text-align: right;
    }
}